@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Merriweather:wght@400;700&display=swap');

$primary-font-color: #444;
$primary-bg-color: #FBB03B;
$btn-color: #39B69F;
$hamburger-color: #138073;
$text-color: #138073;
$header-font: "Merriweather", sans-serif;
$text-font: "Lora", sans-serif;
$normal-font-size: 1.5rem;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $text-font;
    color: $primary-font-color;
    background: black;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .main{
        align-self: stretch;
        background: $primary-bg-color;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        font-size: 2rem;
        padding:30px;
        .hamburger{
            align-self: flex-end;
            background: $hamburger-color;
            border-radius: 50%;
            height: 80px;
            width: 80px;
            margin: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 6px;
                div {
                    width: 40px;
                    height: 6px;
                    background:#fff;
                }                    
        }
        h1{
            color: $text-color;
                font-size: 2rem;;
            }
            input{
                width: 50%;
                font-size: 16px;
                padding: 10px 20px;
                color: $text-color;
                height: 65px;            
            }
            .checkcontainer{
                display: flex;
                align-items: center;
                gap: 20px;
                font-size: 18px;
                color: $text-color;
                font-size: 700;
                input[type="checkbox"]{
                    width: 25px;
                }
            }
            input[type="button"]{
                align-self: center;
                width: 284px;
                height: 74px;
                background-color: $btn-color;
                color: white;
                border: 1px solid white;
                font-size: 14px;
                letter-spacing: 2px;
            }
            ::placeholder {
                color: $btn-color;
                font-weight: 500;
            }
        }
        @media (max-width: 900px) {
            .main{
                .hamburger{
                    transform: scale(0.8)
                }
                h1{
                    align-self: flex-end;
                }
                input{
                    width: 100%;
                }
            }
            

        }
}

