@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Merriweather:wght@400;700&display=swap');

$primary-font-color: #444;
$primary-bg-color: #FBB03B;
$btn-color: #39B69F;
$hamburger-color: #138073;
$text-color: #138073;
$header-font: "Merriweather", sans-serif;
$text-font: "Lora", sans-serif;
$normal-font-size: 1.5rem;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $text-font;
    color: $primary-font-color;
    background: black;
    padding: 0px 20px;
        .main{
            background: $primary-bg-color;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 30px;
            font-size: 2rem;
            h1{
                color: $text-color;
                font-size: 1.5rem;;
            }
            input{
                font-size: 16px;
                padding: 10px 20px;
                color: $text-color;
                width: 560px;
                height: 65px;
                
            }
            ::placeholder {
                color: #4A9E94;
                font-weight: 500;
            }
        }
}

